body 
{
    margin:0;
    padding: none;
}


.nav 
{
  overflow: hidden;
  background-color: #333342;
}

.nav a 
{
  float: left;
  display: block;
  color: #f2f2a2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover 
{
  background-color: #ddd222;
  color: black;
}

.nav a.active 
{
    background-color: #4CAF5022;
    color: white;
}
.nav a.Lout
{
  float: right;
}

form {
    border: 0px solid #333342;
}

input[type=text], input[type=password] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ddd222;
    box-sizing: border-box;
}

input:hover
{
 background-color: #f2f2a2; 
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

button 
{
    background-color: #333342;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover 
{
    background-color: #ddd222;
    opacity: 0.8;
}

.cancelbtn 
{
    width: auto;
    padding: 10px 1px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

div.container2 {
    padding: 16px;
    text-decoration-color: #f2f2a2; 
    float: right;
    padding-top: 6px;
    border-radius: 23%;
    display: inline-block;
    background-color: #333342
}

